@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

button {
    cursor: pointer;
    border: none;
}

/* 

NAVIGATION

*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

