@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

a {
    display: inline;
    text-decoration: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.purple {
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36 ,62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title,
#pricing .section__title {
    text-align: center;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 450ms;
}

.btn:hover {
    background-color: rgba(80, 17, 204);
}

button {
    cursor: pointer;
    border: none;
}

/* 

NAVIGATION

*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 450ms;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 450ms ease;
    opacity: 0;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 450ms ease;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
    color: white;
}

.login {
    margin-left: 48px;
}

.btn

.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 450ms ease;
}

.btn__menu--svg

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transform: all 450ms ease;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu--open .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/*

HEADER 

*/

section {
    padding: 0 32px;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    transition: all 450ms ease;
}

.header__email--btn:hover {
    background-color: rgba(60, 13, 153);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36 ,62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 450ms;
}

.header__email--input::placeholder {
    font-weight: 700;
    color: rgb(158, 170, 189);
}

.header__email--input:hover {
    color: rgb(160, 170, 192);
}

.header__email--input:focus, 
.header__email--input:active {
    outline: none;
    border-color: rgba(100, 21, 255);
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

header {
    position: relative;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

/*

FEATURES

*/

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__title, 
#pricing .section__title {
    text-align: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100%/3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para{
    margin: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* 

QUALITY WORK 

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .section__title, 
#values .section__title {
    line-height: 1.25;
}

#quality .btn {
    margin-top: 32px;
}

.quality__description {
    max-width: 576px;
    margin-right: 28px;
}

.quality__description, 
.quality__img--wrapper {
    width: 50%;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__dots {
    position: absolute;
    right: -40px;
    bottom: -40px;
    width: 100px;
    height: 100px;
    z-index: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #6415ff 2.5px, transparent 3.5px);
    background-size: 14px 14px;
}

.quality__img {
    z-index: 1;
}

/*

STEPS 

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description, 
.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    z-index: 2;
}

.steps__grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    width: 10rem;
    height: 10rem;
    opacity: 0.25;
    z-index: 1;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(100, 21, 255) 2.5px, transparent 3.5px);
    background-size: 16px 16px;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

#values .btn {
    margin-top: 48px;
}

.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__description, 
.values__img {
    width: 50%;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.feature__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 6px;
}

.feature__icon i {
  font-size: 20px;
}

.feature__icon--pink {
  background-color: #f4c7c3;
}

.feature__icon--pink i {
  color: #8b2f2f;
}

.feature__icon--green {
  background-color: #b9f0c8;
}

.feature__icon--green i {
  color: #2f855a;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

/*

PRICING 

*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: black;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5 rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__name, 
.plan__price ,
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100, 21, 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247, 250, 252);
    transition: all 450ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plan__button:hover {
    transform: translate(1.5px, -1.5px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(
        115deg,
        rgb(56, 178, 172) 0%,
        rgb(129, 230, 217) 100%
    );
}

.plan:nth-child(2) {
    background: linear-gradient(
        135deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%
    );
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe, 
.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(
        115deg,
        rgb(245, 101, 101) 0%,
        rgb(254, 178, 178) 100%
    );
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price, 
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan:nth-child(2) .plan__name, 
.plan:nth-child(2) .plan__price, 
.plan:nth-child(2) .plan__target, 
.plan:nth-child(2) .plan__duration, 
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(1) .plan__middle, 
.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plans {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/*

TESTIMONIALS

*/

section #testimonials {
    padding: 0px;
}

#testimonials .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#testimonials .row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__img, 
.testimonials__description {
    width: 50%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}
.testimonial__rating {
    color: rgba(246, 173, 85);
    margin-right: 20px;
    margin-top: 4px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 450ms ease;
}

.testimonial__button:hover {
    background-color: rgb(229, 231, 235);
}

.fa-star {
    color: rgb(246 173 85);
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/* 

START / CALL TO ACTION 

*/

main {
    margin-bottom: 96px;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.start__container::before {
    content: "";
    position: absolute;
    top: -155%;
    right: -10%;
    width: 400px;
    height: 500px;
    background: rgb(92, 21, 234);
    border-radius: 50%;
    z-index: 0;
}

.start__container::after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: -5%;
    width: 300px;
    height: 300px;
    background: rgb(92, 21, 234);
    border-radius: 50%;
    z-index: 0;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title, 
.start__buttons {
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05);
    margin-right: 32px;
    transition: all 450ms ease;
}

.start__button:hover:nth-child(1) {
    background-color: rgba(229, 62, 62);
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 450ms ease;
}

.start__button:hover:nth-child(2) {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}

#start .row {
    position: relative;
    overflow: hidden;
}

/*

FOOTER 

*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: all 450ms ease;
    opacity: 0;
}

.footer__column--link:hover::after {
    opacity: 1;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    height: 30px;
    width: 30px;
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 450ms ease;
}

.footer__social--link:hover {
    background-color: rgba(203, 213, 224)
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgb(92, 21, 234 ); /* subtle lighter purple */
  z-index: 0;
}

footer::before {
  width: 420px;
  height: 420px;
  top: -160px;
  left: -160px;
}

footer::after {
  width: 500px;
  height: 500px;
  bottom: -220px;
  right: -220px;
}

/*

RESPONSIVENESS

*/

@media (max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }

    .steps__grid {
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }

    h1 {
        font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
    }

    .header__description--para {
        font-size: 16px;
    }

    .header__customers {}
}